$uploader-height: 							32px !default;
$uploader-gutter:							14px !default;

$uploader-transitions: 						true !default;
$uploader-transition-speed:					200ms !default;
$uploader-transition-timing:				ease-in-out;