@mixin core_uploader {
	.uploader {
		display: block;

		&.__uploader--ready {
			position: relative;
			display: table;
			table-layout: fixed;
			width: 100%;
			height: $uploader-height;

			@if $uploader-transitions == true {
				@include transition(
					(color $uploader-transition-speed $uploader-transition-timing 0s),
					(border-color $uploader-transition-speed $uploader-transition-timing 0s),
					(background $uploader-transition-speed $uploader-transition-timing 0s),
					(box-shadow $uploader-transition-speed $uploader-transition-timing 0s)
				);
			}
		}
	}

	.uploader-input {
		.__uploader--ready & {
			position: absolute;
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
		}
	}

	.uploader-label {
		display: none;

		.__uploader--ready & {
			display: table-cell;
			position: relative;
			text-align: $uploader-text-align;
			color: inherit;
			cursor: pointer;
			margin: 0;
			padding: 0 $uploader-gutter;

			@if $uploader-glyph == true {
				@if $uploader-glyph-position == left {
					padding-left: $uploader-glyph-width;
				} @else {
					padding-right: $uploader-glyph-width;
				}
			}


			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 100%;
			height: 100%;
			vertical-align: middle;
		}
	}

	.uploader-glyph-placeholder {
		display: block;
		position: absolute;
		top: 50%;

		@if $uploader-glyph-position == left {
			left: 0;
		} @else {
			right: 0;
		}

		text-align: center;
		width: $uploader-glyph-width;
		height: $uploader-height;
		line-height: $uploader-height;
		margin-top: 0 - ($uploader-height / 2);
	}

	.uploader-glyph {
		display: inline-block;

		@if $uploader-transitions == true {
			@include transition(
				(fill $uploader-transition-speed $uploader-transition-timing 0s),
				(color $uploader-transition-speed $uploader-transition-timing 0s)
			);
		}
	}

	.uploader-input {
		.__upoader--focus & + .uploader-label,
		&:focus + .uploader-label {
			outline: thin dotted !important;
			outline: 4px auto -webkit-focus-ring-color !important;
		}
	}
}